body{
    font: 12pt/10pt Arial;
}
.pointer:hover{
    cursor: pointer;
}
.fill-width{
    width: 100%;
}
.em05{
    font-size: 0.5em !important;
}
.em06{
    font-size: 0.6em !important;
}
.em07{
    font-size: 0.7em !important;
}
.em08{
    font-size: 0.8em !important;
}
.em09{
    font-size: 0.9em !important;
}
.em10{
    font-size: 1.0em !important;
}
.em11{
    font-size: 1.1em !important;
}
.em12{
    font-size: 1.2em !important;
}
.em13{
    font-size: 1.3em !important;
}
.em14{
    font-size: 1.4em !important;
}
.em15{
    font-size: 1.5em !important;
}
.em16{
    font-size: 1.6em !important;
}
.em17{
    font-size: 1.7em !important;
}
.em18{
    font-size: 1.8em !important;
}
.em19{
    font-size: 1.9em !important;
}
.em20{
    font-size: 2.0em !important;
}
.em23{
    font-size: 2.3em !important;
}
.em26{
    font-size: 2.6em !important;
}
.em29{
    font-size: 2.9em !important;
}
.em33{
    font-size: 3.3em !important;
}
.em36{
    font-size: 3.6em !important;
}
.em39{
    font-size: 3.9em !important;
}
.em43{
    font-size: 4.3em !important;
}
.em46{
    font-size: 4.6em !important;
}
.em49{
    font-size: 4.9em !important;
}
.b{
    font-weight: 500;
}
.bolder{
    font-weight: bolder;
}
.i {
    font-style: italic !important;
}
.ac{
    align-self: center;
}
.at{
    align-self: flex-start;
}
.ab{
    align-self: flex-end;
}

.hoverbox{
    box-shadow: 0 0 7px transparent;
    transition: box-shadow .3s ease;
}
.hoverbox:hover{
    box-shadow: 0 3px 7px #838383 !important;
}
.hovertext{
    text-shadow: 0 0 1px transparent;
    transition: text-shadow .3s ease;
}
.hovertext:hover{
    text-shadow: 0 0 1px black;
}
.hr{
    border-bottom: 1px solid #e1e1e1;
}
.link{
    opacity: 0.7;
    transition: opacity .3s ease;
}
.link:hover{
    opacity: 1;
}