<template>
  <v-layout
    row
    grey
    darken-4
    elevation-2
    class="grey--text text--lighten-3 pa-3"
    v-if="mqpack([false, false, true, true, true], true)"
  >
    <v-flex xs-3 ac>
      <v-flex ml-1>Компания &#9400;</v-flex>
    </v-flex>
    <v-flex xs-3>
      <v-layout column>
        <v-layout row pointer d-flex justify-center pa-1 link>Меню посетителя 1</v-layout>
        <v-layout row pointer d-flex justify-center pa-1 link>Меню посетителя 2</v-layout>
        <v-layout row pointer d-flex justify-center pa-1 link>Меню посетителя 3</v-layout>
      </v-layout>
    </v-flex>
    <v-flex xs-3>
      <v-layout column>
        <v-layout row pointer d-flex justify-center pa-1 link>Карта сайта</v-layout>
        <v-layout row pointer d-flex justify-center pa-1 link>Обратная связь</v-layout>
        <v-layout row pointer d-flex justify-center pa-1 link>Юридическая информация</v-layout>
      </v-layout>
    </v-flex>
    <v-flex xs-3 d-flex ac>
      <v-flex mr-1 text-xs-right>
      {{new Date().toISOString().substr(0,4)}}
      </v-flex>
    </v-flex>
  </v-layout>
</template>

<script>
  import {mapGetters, mapActions} from 'vuex';

  export default {
    name: 'bottom-menu',
    methods: {
      ...mapActions([])
    },
    computed: {
      ...mapGetters([])
    },
  }
</script>
