<template>
  <v-layout row grey darken-3 elevation-2 class="top-menu grey--text text--lighten-3">
    <v-flex
      align-center
      em20
      ac
      b
      :class="mqpack(['ml-4', 'ml-2', 'ml-4', 'ml-4', 'ml-4'])"
    >Лого</v-flex>
    <v-flex xs7 sm4 md2 ac>
      <v-layout column>
        <v-layout row justify-center>
          <v-btn flat outline color="green lighten-2" class="pl-4 pr-4">
            Войти
          </v-btn>
        </v-layout>
        <v-layout row justify-center>
          <span class="mr-1">или</span>
          <span
            class="blue-grey--text text--lighten-2 pointer link"
            @click="toRegistration"
          >зарегистрируйтесь</span>
        </v-layout>
      </v-layout>
    </v-flex>
  </v-layout>
</template>

<script>
  import {mapGetters, mapActions} from 'vuex';

  export default {
    name: 'top-menu',
    methods: {
      ...mapActions([]),
      toRegistration(){
        this.$router.push("/accounts/registration")
      }
    },
    computed: {
      ...mapGetters([])
    },
  }
</script>

<style>
  .top-menu{
    height: 100px;
  }
</style>