<template>
  <v-flex xs12 sm10 md8 offset-sm1 offset-md2 d-flex grow aling-items-center>
    <v-flex class="dialog" v-if="isRegistered !== true">
      <v-layout column>
        <v-layout row bolder em13 pa-3>
          Регистрация:
        </v-layout>
        <v-layout row pa-2>
          <v-flex xs4 sm4 md3 text-xs-right pr-2 grey--text text--darken-2 em09 ac>
            Никнейм:
          </v-flex>
          <v-icon class="icon pr-2"
                  v-show="nicknameValid === true"
                  v-if="mqpack([false, false, true, true, true], true)"
          >check</v-icon>
          <div class="attention"
               v-show="nicknameValid !== true"
               v-if="mqpack([false, false, true, true, true], true)"
          ></div>
          <v-flex ac class="max-width-300 ml-2">
            <v-text-field
              flat color="grey"
              height="24"
              hide-details
              solo
              class="input-item bolder"
              :value="getAccountNickname"
              @input="setAccountNickname"
              focus
            >
            </v-text-field>
          </v-flex>
          <v-flex
            ac
            ml-2
            em09
            red--text
            text--darken-3
            v-show="nicknameValid !== true"
            v-if="mqpack([false, false, true, true, true], true)"
          >
            {{nicknameValid}}
          </v-flex>
        </v-layout>
        <v-layout row>
          <v-flex xs3>
          </v-flex>
          <v-flex
            ac
            ml-5
            em09
            red--text
            text--darken-3
            v-show="nicknameValid !== true"
            v-if="mqpack([true, true, false, false, false], true)"
          >
            {{nicknameValid}}
          </v-flex>
        </v-layout>
        <v-layout row pa-2>
          <v-flex xs4 sm4 md3 text-xs-right pr-2 grey--text text--darken-2 em09 ac>
            Имя:
          </v-flex>
          <v-icon
            class="icon pr-2" v-show="nameValid === true"
            v-if="mqpack([false, false, true, true, true], true)"
          >check</v-icon>
          <div
            class="attention"
            v-show="nameValid !== true"
            v-if="mqpack([false, false, true, true, true], true)"
          ></div>
          <v-flex ac class="max-width-300 ml-2">
            <v-text-field
              flat color="grey"
              height="24"
              hide-details
              solo
              class="input-item bolder"
              :value="getAccountName"
              @input="setAccountName"
            >
            </v-text-field>
          </v-flex>
          <v-flex
            ac
            ml-2
            em09
            red--text
            text--darken-3
            v-show="nameValid !== true"
            v-if="mqpack([false, false, true, true, true], true)"
          >
            {{nameValid}}
          </v-flex>
        </v-layout>
        <v-layout row>
          <v-flex xs3>
          </v-flex>
          <v-flex
            ac
            ml-5
            em09
            red--text
            text--darken-3
            v-show="nameValid !== true"
            v-if="mqpack([true, true, false, false, false], true)"
          >
            {{nameValid}}
          </v-flex>
        </v-layout>
        <v-layout row pa-2>
          <v-flex xs4 sm4 md3 text-xs-right pr-2 grey--text text--darken-2 em09 ac>
            Фамилия:
          </v-flex>
          <v-icon
            class="icon pr-2"
            v-show="lastnameValid === true"
            v-if="mqpack([false, false, true, true, true], true)"
          >check</v-icon>
          <div
            class="attention"
            v-show="lastnameValid !== true"
            v-if="mqpack([false, false, true, true, true], true)"
          ></div>
          <v-flex ac class="max-width-300 ml-2">
            <v-text-field
              flat color="grey"
              height="24"
              hide-details
              solo
              class="input-item bolder"
              :value="getAccountLastname"
              @input="setAccountLastname"
            >
            </v-text-field>
          </v-flex>
          <v-flex
            ac
            ml-2
            em09
            red--text
            text--darken-3
            v-show="lastnameValid !== true"
            v-if="mqpack([false, false, true, true, true], true)"
          >
            {{lastnameValid}}
          </v-flex>
        </v-layout>
        <v-layout row>
          <v-flex xs3>
          </v-flex>
          <v-flex
            ac
            ml-5
            em09
            red--text
            text--darken-3
            v-show="lastnameValid !== true"
            v-if="mqpack([true, true, false, false, false], true)"
          >
            {{lastnameValid}}
          </v-flex>
        </v-layout>
        <v-layout row pa-2>
          <v-flex xs4 sm4 md3 text-xs-right pr-2 grey--text text--darken-2 em09 ac>
            {{mqpack([
              'Эл. почта:',
              'Электронная почта:',
              'Электронная почта:',
              'Электронная почта:',
              'Электронная почта:',
            ], true)}}
          </v-flex>
          <v-icon
            class="icon pr-2"
            v-show="emailValid === true"
            v-if="mqpack([false, false, true, true, true], true)"
          >check</v-icon>
          <div
            class="attention"
            v-show="emailValid !== true"
            v-if="mqpack([false, false, true, true, true], true)"
          ></div>
          <v-flex
            ac
            :class="mqpack([
            'max-width-300 ml-1',
            'max-width-150 ml-2',
            'max-width-150 ml-2',
            'max-width-150 ml-2',
            'max-width-150 ml-2'
            ])">
            <v-text-field
              flat color="grey"
              height="24"
              hide-details
              solo
              class="input-item em08"
              :value="getAccountEmail"
              @input="setAccountEmail"
            >
            </v-text-field>
          </v-flex>
          <v-flex
            ac
            ml-2
            em09
            red--text
            text--darken-3
            v-show="emailValid !== true"
            v-if="mqpack([false, false, true, true, true], true)"
          >
            {{emailValid}}
          </v-flex>
        </v-layout>
        <v-layout row>
          <v-flex xs3>
          </v-flex>
          <v-flex
            ac
            ml-5
            em09
            red--text
            text--darken-3
            v-show="emailValid !== true"
            v-if="mqpack([true, true, false, false, false], true)"
          >
            {{emailValid}}
          </v-flex>
        </v-layout>
        <v-layout row pa-2>
          <v-flex xs4 sm4 md3 text-xs-right pr-2 grey--text text--darken-2 em09 ac>
            Пароль:
          </v-flex>
          <v-icon
            class="icon pr-2"
            v-show="passwordValid === true"
            v-if="mqpack([false, false, true, true, true], true)"
          >check</v-icon>
          <div
            class="attention"
            v-show="passwordValid !== true"
            v-if="mqpack([false, false, true, true, true], true)"
          ></div>
          <v-flex
            ac
            :class="mqpack([
            'max-width-300 ml-1',
            'max-width-150 ml-2',
            'max-width-150 ml-2',
            'max-width-150 ml-2',
            'max-width-150 ml-2'
            ])"
          >
            <v-text-field
              flat color="grey"
              height="24"
              hide-details
              solo
              class="input-item"
              type="password"
              :value="getAccountPassword"
              @input="setAccountPassword"
            >
            </v-text-field>
          </v-flex>
          <v-flex
            ac
            ml-2
            em09
            red--text
            text--darken-3
            v-show="passwordValid !== true"
            v-if="mqpack([false, false, true, true, true], true)"
          >
            {{passwordValid}}
          </v-flex>
        </v-layout>
        <v-layout row>
          <v-flex xs3>
          </v-flex>
          <v-flex
            ac
            ml-5
            em09
            red--text
            text--darken-3
            v-show="passwordValid !== true"
            v-if="mqpack([true, true, false, false, false], true)"
          >
            {{passwordValid}}
          </v-flex>
        </v-layout>
        <v-layout row pa-2>
          <v-flex xs3>
          </v-flex>
          <v-flex ml-4>
            <v-btn
              flat
              outline
              small
              class="pl-5 pr-5 ml-2 submit-button w150"
              :disabled="!isFormValid"
              color="green"
              @click="createNewAccount"
            >
              Готово
            </v-btn>
          </v-flex>
        </v-layout>
      </v-layout>
    </v-flex>
    <v-flex v-if="isRegistered === true" d-flex>
      <v-flex d-flex ac>
        <v-layout column>
          <v-layout row justify-center em18 grey--text text--darken-3>Регистрация завершена</v-layout>
          <v-layout row justify-center>
            <v-btn flat outline color="green darken-2" @click="returnToMain">Вернуться</v-btn>
          </v-layout>
        </v-layout>
      </v-flex>
    </v-flex>
  </v-flex>
</template>

<script>
  import {mapGetters, mapActions} from 'vuex';
  const TIMER_TIMEOUT = 1000;

  export default {
    data() {
      return {
        nicknameValid: true,
        nameValid: true,
        lastnameValid: true,
        emailValid: true,
        passwordValid: true,
        nicknameTimer: null,
        emailTimer: null,
      }
    },
    watch: {
      getAccountNickname() {
        let valid = true;
        if(this.getAccountNickname === '')
          return this.nicknameValid = valid;
        if(this.isNickname(this.getAccountNickname) !== true)
          valid = 'Никнейм указан неверно';
        if(this.nicknameTimer !== null)
          clearTimeout(this.nicknameTimer);
        this.nicknameTimer = setTimeout(this.findByNickname, TIMER_TIMEOUT);
        this.nicknameValid = valid;
      },
      getAccountName() {
        let valid = true;
        if(this.getAccountName === '')
          return this.nameValid = valid;
        if(this.isFio(this.getAccountName) !== true)
          valid = 'Имя указано неверно';
        this.nameValid = valid;
      },
      getAccountLastname() {
        let valid = true;
        if(this.getAccountLastname === '')
          return this.lastnameValid = valid;
        if(this.isFio(this.getAccountLastname) !== true)
          valid = 'Фамилия указано неверно';
        this.lastnameValid = valid;
      },
      getAccountEmail() {
        let valid = true;
        if(this.getAccountEmail === '')
          return this.emailValid = valid;
        if(this.isEmail(this.getAccountEmail) !== true)
          valid = 'Адрес электронной почты указан неверно';
        if(this.emailTimer !== null)
          clearTimeout(this.emailTimer);
        this.emailTimer = setTimeout(this.findByEmail, TIMER_TIMEOUT);
        this.emailValid = valid;
      },
      getAccountPassword() {
        let valid = true;
        if(this.getAccountPassword === '')
          return this.passwordValid = valid;
        if(this.isPassword(this.getAccountPassword) !== true)
          valid = 'Пароль указан неверно';
        if(this.isLength(this.getAccountPassword, 5, 45) !== true)
          valid = 'Пароль должен быть более 5 символов и менее 45';
        this.passwordValid = valid;
      },
      getAccountsExistsNickname(){
        if(this.getAccountsExistsNickname === true)
          this.nicknameValid = 'Человек с таким именем уже зарегистрирован';
      },
      getAccountsExistsEmail(){
        if(this.getAccountsExistsEmail === true)
          this.emailValid = 'На этот ящик уже зарегистрирован аккаунт';
      },
    },
    methods: {
      returnToMain(){
        this.destroyProcess('createAccount');
        this.setAccountBlank();
        this.$router.push("/")
      },
      ...mapActions([
        'setAccountNickname',
        'setAccountName',
        'setAccountLastname',
        'setAccountEmail',
        'setAccountPassword',
        'setAccountBlank',
        'findByNickname',
        'findByEmail',
        'createNewAccount',
        'destroyProcess',
      ])
    },
    computed: {
      isFormValid(){
        return this.nicknameValid === true && this.nameValid === true && this.lastnameValid === true
          && this.emailValid === true && this.passwordValid === true && this.getAccountNickname !== ''
          && this.getAccountName !== '' && this.getAccountLastname !== '' && this.getAccountEmail !== ''
          && this.getAccountPassword !== '';
      },
      isRegistered(){
        return this.getProcessStatus('createAccount');
      },
      ...mapGetters([
        'getAccountNickname',
        'getAccountName',
        'getAccountLastname',
        'getAccountEmail',
        'getAccountPassword',
        'getProcessStatus',
        'getAccountsExistsNickname',
        'getAccountsExistsEmail',
      ])
    },
  }
</script>

<style>
  .dialog {
    height: 300px;
    margin: auto;
  }

  .submit-button {
    text-transform: none !important;
    padding: 0;
    margin: 0;
  }

  .input-item {
    border: 1px solid #b4b4b4;
    border-top: 1px solid grey;
    box-shadow: inset -1px 1px 1px #cecece;
    outline: none;
    margin-top: 0;
    padding-top: 0;
  }

  .input-item .v-input__control {
    min-height: 24px !important;
  }

  .input-item .v-input__slot {
    padding: 0 0 !important;
  }

  .input-item input {
    text-indent: 3px;
  }

  .max-width-300{
    max-width: 300px !important;
  }
  .max-width-150{
    max-width: 150px !important;
  }
  .icon {
    max-width: 24px;
    max-height: 24px;
  }

  .attention {
    width: 24px;
    height: 24px;
    background: url("/static/assets/attention.png");
  }
</style>