<template>
  <v-layout column>
    <top-menu></top-menu>
    <v-layout row>
      <v-flex>
        <v-parallax src="/static/assets/8422.jpg"></v-parallax>
      </v-flex>
    </v-layout>
    <bottom-menu></bottom-menu>
  </v-layout>
</template>

<script>
  import {mapGetters, mapActions} from 'vuex';
  import TopMenu from '../../components/TopMenu.vue'
  import BottomMenu from '../../components/BottomMenu.vue'

  export default {
    methods: {
      ...mapActions([

      ])
    },
    computed: {
      ...mapGetters([
      ])
    },
    components: {
      TopMenu,
      BottomMenu
    }
  }
</script>