<template>
    <v-app>
        <router-view></router-view>
    </v-app>
</template>


<script>
  import {mapGetters, mapActions} from 'vuex';
  import 'vuetify/dist/vuetify.css'
  import '../static/assets/site.css'

  export default {
    name: 'App',
    methods: {
      ...mapActions([
      ])
    },
    computed: {
      ...mapGetters([
      ])
    },
    created() {
    }
  }
</script>
